.filters {
  height: 35px;
  width: 200px;
  margin-top: 30px;
  background-color: #f3801400;
  font-family: monospace;
  font-weight: 500;
  color: #db720f;
  font-size: 20px;
  position: relative;
  display: inline-block;
  justify-content: space-between;
  transition: 0.2s;
  border: none;
  justify-content: space-between;
  overflow: hidden;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 1px;
}

.filters:hover {
  background-color: rgba(83, 82, 82, 0.226);
  box-shadow: 10px 10px 24px -6px rgb(0, 0, 0);
  -webkit-box-shadow: 10px 10px 24px -6px rgb(0, 0, 0);
  -moz-box-shadow: 10px 10px 24px -6px rgb(0, 0, 0);
}

.container {
  position: relative;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -90px;
  background-color: #94817000;
}

.population {
  background-color: #db720f;
  text-align: center;
}
