nav {
  width: 96%;
  height: 50px;
  text-align: center;
  transition: 2s;
  display: flex;
  justify-content: spa;
  padding-top: 80px;
  background-size: 230px;
  background-color: rgba(40, 77, 28, 0);
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  position: relative;
}
nav a {
  font-family: monospace;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #c0bdbd;
  font-size: 28px;
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
  transition: 0.2s;
  padding-left: 80px;
  /* background-color: #a945c794; */
}

nav a:hover {
  color: #db720f;
  font-size: 28px;
  text-decoration: underline solid #8e918ba1;
}

.invisible {
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  height: 108px;
  width: 160px;
  margin-top: -157px;
  margin-left: 1159px;
}
