.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 246, 246);
}
.vid {
  position: fixed;
  width: 100%;
}

.link {
  font-family: monospace;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline rgba(255, 127, 80, 0);
  color: #c0bdbd;
  font-size: 28px;
  letter-spacing: 5px;
  position: absolute;
  display: inline-block;
  transition: 0.2s;
  position: absolute;
  background-color: #db720f00;
  margin-bottom: 445px;
  margin-left: -383px;
}
.link:hover {
  color: #db720f;
  font-size: 28px;
  text-decoration: underline solid #8e918ba1;
}

.country {
  background-color: rgba(214, 211, 208, 0.753);
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 300px;
  padding: 10px;
  margin-top: 100px;
  box-shadow: 0 20px 30px rgba(0, 0, 0);
  border-radius: 20px;
}
.flag {
  height: 205px;
  width: 245px;
  margin-top: 45px;
  margin-left: -100px;
  border-radius: 5%;
  box-shadow: 16px 17px 24px -6px rgb(0, 0, 0);
  -webkit-box-shadow: 16px 17px 24px -6px rgb(0, 0, 0);
  -moz-box-shadow: 16px 17px 24px -6px rgb(0, 0, 0);
}

.info {
  text-align: center;
  margin-top: 5px;
  height: 185px;
  width: 280px;
  padding: 20px;
  padding-top: 10px;
}

.name {
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f1d1d;
  font-size: 36px;
  letter-spacing: 5px;
  min-height: 95px;
  text-shadow: #1f1d1d;
  min-height: 95px;
  text-shadow: 0px 6px 3px #585857;
  margin-top: 20px;
}

.nameL {
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f1d1d;
  font-size: 24px;
  letter-spacing: 5px;
  min-height: 95px;
  text-shadow: 0px 6px 3px #585857;
  /* filter: drop-shadow(0px 5px 10px #000000); */
}

.dat {
  font-family: monospace;
  font-weight: 900;
  color: #9b0404;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: justify;
  margin-left: 30px;
  margin-top: 30px;
}

.null {
  background-color: rgba(137, 43, 226, 0);
  position: relative;
  color: rgba(0, 0, 255, 0);
  font-size: 0px;
}

.countryact {
  background-color: rgba(214, 211, 208, 0.753);
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 280px;
  padding: 10px;
  margin-top: 70px;

  border-radius: 20px 20px 0px 0px;
}

.activities {
  background-color: rgba(214, 211, 208, 0.753);
  min-height: 170px;
  position: relative;
  box-shadow: 0 40px 30px rgba(0, 0, 0);
  border-radius: 0px 0px 20px 20px;
  /* flex-direction: row;
  display: flex; */
}
.act {
  background-color: rgba(0, 255, 255, 0);
  min-height: 170px;
}

.titleact {
  font-family: monospace;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f1d1d;
  font-size: 20px;
  letter-spacing: 5px;
  text-shadow: #1f1d1d;
  text-shadow: 0px 2px 1px #585857;
  margin-left: 145px;
}

.namesactivities {
  background-color: #fafa0800;
  font-family: monospace;
  font-weight: 900;
  color: #9b0404;
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  width: 515px;
  height: 25px;
  margin-top: 10px;
  margin-right: 5px;
}
.namesactivitiesNull {
  background-color: #f5f507;
  color: #9b040400;
  font-size: 0px;
}
.nact {
  background-color: #b1b11b00;
  width: 224px;
  margin-left: 5px;
  font-size: 16px;
}

.nactNull {
  font-size: 0px;
}

.touristactivities {
  width: 520px;
  margin-left: 0px;
  padding: 0px;
  display: flex;
  background-color: #9b040400;
}
.actname {
  background-color: rgba(13, 209, 13, 0);
  width: 224px;
  margin-left: 5px;
  text-transform: capitalize;
  font-family: monospace;
  font-weight: 900;
  color: #1f1d1d;
  font-size: 18px;
  text-align: ce;
}

.actsea {
  width: 85px;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  color: #9b0404;
  font-size: 14px;
  letter-spacing: 2px;
}
.actdur {
  width: 90px;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #58585777;
}

.actdiff {
  width: 115px;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  color: #050505;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #58585777;
}

.lin {
  min-height: 20px;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
}
.lian {
  padding: 0%;
  min-height: 25px;
}

.astitles {
  font-size: 14px;
  color: #fdfdfd;
  margin-left: -40px;
  margin-right: 10px;
}

.loader {
}

.loader1 {
  margin-top: -155px;
  margin-left: 350px;
  position: absolute;
  color: rgb(23, 23, 126);
}
