.input {
  background-color: rgba(163, 163, 160, 0.178);
  width: 270px;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 20px;
  font-family: monospace;
  margin-left: 650px;
  margin-top: -4px;
  text-decoration: none;
  color: #f8f5f5;
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boton {
  background-color: rgba(255, 228, 196, 0);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  margin-left: -37px;
  height: 22px;
  color: #f8f5f5;
}

.boton:hover {
  font-size: 20px;
  cursor: pointer;
}
