.tablefilterinfo {
  display: flex;
  justify-content: center;
  position: relative;
}

.dtpaginationul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.dtpagination {
  /* margin-top: -30px; */
  margin-bottom: 20px;
}

.dtpagination .dtitem {
  display: inline-block;
}

.dtpagination .dtitem .dtlink {
  padding: 6px 8px;
  min-width: 32px;
  min-height: 18px;
  border-radius: 8px;
  background-color: rgba(149, 148, 134, 0.662);
  margin-bottom: 5px;
  border: 1px solid rgb(149 148 134);
  font-size: 12px;
  font-weight: 700;
  color: #281a1a;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.dtpagination .dtitem .dtlink:hover {
  background-color: rgb(88, 87, 73);
  color: whitesmoke;
}

/*   .dtpagination .dtitem:first-child .dtlink,
    .dtpagination .dtitem:last-child .dtlink {
      background-color: rgb(149 148 134 / 85%);
    } */

.active {
  background-color: rgb(88, 87, 73);
  color: whitesmoke;

  padding: 6px 8px;
  min-width: 32px;
  min-height: 18px;
  border-radius: 8px;

  margin-bottom: 5px;
  border: 1px solid rgb(149 148 134);
  font-size: 12px;
  font-weight: 700;

  display: inline-block;
  text-align: center;
  cursor: pointer;
}
