.body {
  background-color: rgb(247, 246, 246);
}
.video {
  position: fixed;

  width: 100%;
  /* margin-top: -8px; */
}

.filter {
  padding: 0%;
  height: 100px;
  width: 900px;
  position: absolute;
  margin-top: 100px;
  margin-left: 315px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 0, 0, 0);
}

.loader {
  margin-top: 20px;
  margin-left: 290px;
}
.loader1 {
  margin-top: -155px;
  margin-left: 640px;
  position: absolute;
  color: rgb(23, 23, 126);
}
